{erl_opts, [debug_info,{parse_transform, lager_transform}]}.
{deps, [{gun, {git, "https://github.com/ninenines/gun", {branch, "master"}}},
        {jiffy, {git, "https://github.com/davisp/jiffy", {tag, "0.14.11"}}},
        {snowflake, {git, "https://github.com/tel/snowflake", {tag, "0.1.2"}}},
        {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.2.4"}}}]}.